<h1>Form</h1>

<!--<form action="/users" accept-charset="UTF-8" method="post">-->
<!--  <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->

<!--  <div class="field">-->
<!--    <label for="user_username">Username:</label><br>-->
<!--    <input type="text" name="user[username]" id="user_username">-->
<!--    <br><br>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <label for="user_email">Email:</label><br>-->
<!--    <input type="email" name="user[email]" id="user_email">-->
<!--    <br><br>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <label for="user_password">Password:</label><br>-->
<!--    <input type="password" name="user[password]" id="user_password">-->
<!--    <br><br>-->
<!--  </div>-->

<!--  <div class="actions">-->
<!--    <input type="submit" value="Create User">-->
<!--  </div>-->
<!--</form>-->

<h1>Form</h1>

<%= form_with model: @user, url: users_path, local: true do |form| %>
  <div class="field">
    <%= form.label :username, "Enter your Username:" %><br>
    <%= form.text_field :username, id: "user_username", value: "Username" %>
    <br><br>
  </div>

  <div class="field">
    <%= form.label :email, "Enter your Email:" %><br>
    <%= form.email_field :email, id: "user_email", value: "Email" %>
    <br><br>
  </div>

  <div class="field">
    <%= form.label :password, "Enter your Password:" %><br>
    <%= form.password_field :password, id: "user_password", placeholder: "Password" %>
    <br><br>
  </div>

  <div class="actions">
    <%= form.submit "Create User" %>
  </div>
<% end %>
